@model IEnumerable<Northwind.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>@ViewBag.Title</h1>

<form asp-action="Index" method="get">
    <p class="font-weight-bold">
        Category: @Html.DropDownList("categoryId", @ViewBag.Categories, null, new { onchange = "submit()" })
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unitsOnOrder)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.productName, "Details", new { id=item.productId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unitsOnOrder)
                </td>
            </tr>
        }
    </tbody>
</table>
