@model IEnumerable<DatabaseExplorer.Models.ColorPicker.Color>

@{
    ViewData["Title"] = "Colors";
}

<h1>Colors</h1>

<p class="my-3">
    <a asp-action="Create" class="btn btn-outline-light">Create New</a>
</p>

<table class="table table-bordred">
    <thead>
        <tr>
            <th>Preview</th>
            <th>@Html.DisplayNameFor(model => model.Value)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Group)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input class="color-input" type="color" value="@item.Value" /></td>
                <td class="font-monospace fw-bold">@Html.DisplayFor(modelItem => item.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td class="text-capitalize">@Html.DisplayFor(modelItem => item.Group!.Name)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="fw-bold text-decoration-none">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="fw-bold text-decoration-none">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="fw-bold text-decoration-none">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
