@model IEnumerable<assignment2.Models.Product>

<h1>@(ViewBag.Title ?? "All Products")</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
 
<form asp-action="Index" method="get">
    <p class="font-weight-bold">
        Category: @Html.DropDownList("CategoryId", @ViewBag.Category, "All Products", new { onchange = "submit()" })
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th class="text-right">
                Value
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td class="text-right">
                    @string.Format("{0:C2}", item.UnitPrice * item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
