@model DatabaseExplorer.Models.RecipeMaker.Recipe

@{
    ViewData["Title"] = "Details";
}

<h3>Recipe Details</h3>
<hr />

<div class="row">
    <div class="col-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PreparationTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CookingTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReadyIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.PreparationTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.CookingTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.ReadyIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => modelItem.Category.Name)
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3>
                    @Html.DisplayNameFor(model => model.Method)
                </h3>
                <p>
                    @Html.Raw(Model.Method)
                </p>
            </div>
            <figure class="col-md-6 col-sm-12 figure-img">
                <img src="@Model.Image" class="rounded-4 card-img" alt="@Model.Image" />
            </figure>
        </div>
    </div>
    <div class="col-3">
        <h3>
            @Html.DisplayNameFor(model => model.Ingredients)
        </h3>
        <p class="col">
            @Html.Raw(Model.Ingredients)
        </p>
    </div>
</div>

<div class="my-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success me-2">Edit</a>
    <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
</div>
