@model assignment2.Controllers.Pagination<assignment2.Models.Order>

@{
    ViewData["Title"] = "Customer Orders";
    var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.HasNextPage ? "" : "disabled";
}

<h1>@ViewBag.Title</h1>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-route-pageSize="5">
        5 Orders Per Page
    </a>
    <a class="btn btn-primary" asp-action="Index" asp-route-pageSize="10">
        10 Orders Per Page
    </a>
    <a class="btn btn-primary" asp-action="Index" asp-route-pageSize="20">
        20 Orders Per Page
    </a>
</div>
<br />

<ul class="pagination">
    <li class="page-item @prevDisabled">
        <a class="page-link"
           asp-action="Index"
           asp-route-pageSize="@Model.PageSize"
           asp-route-pageIndex="1">
            First
        </a>
    </li>
    <li class="page-item @prevDisabled">
        <a class="page-link"
           asp-action="Index"
           asp-route-pageSize="@Model.PageSize"
           asp-route-pageIndex="@(Model.PageIndex - 1)">
            Previous
        </a>
    </li>
    <li class="page-item @nextDisabled">
        <a class="page-link"
           asp-action="Index"
           asp-route-pageSize="@Model.PageSize"
           asp-route-pageIndex="@(Model.PageIndex + 1)">
            Next
        </a>
    </li>
    <li class="page-item @nextDisabled">
        <a class="page-link"
           asp-action="Index"
           asp-route-pageSize="@Model.PageSize"
           asp-route-pageIndex="@Model.TotalPages">
            Last
        </a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShippedDate)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Freight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ShipViaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipViaNavigation.CompanyName)
                </td>
            </tr>
        }
    </tbody>
</table>